@import url("normalizecss/normalize.css");

body {
	font-family: Tahoma, MS UI Gothic, Meiryo UI, sans-serif;
	font-size: 1em;
	line-height: 1.2;
	background: cornflowerblue;
	color: #f9f97a;
}

header {
	text-align: center;
	margin-bottom: 1em;
}

header h1,
header h2 {
	margin: 0;
}

header h1 {
	border: none;
}

header h1 a {
	background: url("http://i.imgur.com/mjisKeD.png") no-repeat;
	background-size: contain;
	background-position: center;
	filter: drop-shadow(0 0 1px lightyellow);
	max-width: 500px;
	height: 130px;
	display: block;
	margin: auto;
	font-size: 0;
	color: transparent;
}

header h2 a {
	color: #f9f97a;
}

main {
	max-width: 1800px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

section {
	background: rgba(255, 255, 255, 0.68);
	color: #544409;
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.5); /* add faint shadow to improve text legibility */
	flex: 1 1 0;
	min-width: 0; /* enforce equal width, ~somehow~ */
}

section:lang(ja) {
	margin-right: 0.5em;
}

section:lang(en) {
	margin-left: 0.5em;
}

article {
	padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
	background: rgba(255, 255, 255, 0.3);
	font-weight: normal;
	margin: 1em 0 0 0;
}

h1 {
	font-size: 175%;
	border-bottom: 0.2em solid yellowgreen;
}

h2 {
	font-size: 150%;
	border-bottom: 0.1em solid #f9f97a;
}

h3 {
	font-size: 125%;
	border-bottom: 0.1em solid #f9f97a;
}

p {
	margin: 1em 0;
	line-height: 1.5;
}

p:empty {
	height: 1em;
	padding-bottom: 1em; /* margin collapsing */
}

figure {
	margin: 0;
}

figcaption {
	margin: 0 0 1em 0;
	line-height: 1.5;
}

a {
	color: mediumvioletred;
	text-decoration: none;
}

a:hover {
	color: hotpink;
}

b {
	font-weight: bold;
	color: mediumseagreen;
}

em {
	color: mediumseagreen;
}

cite {
	font-style: italic;
}

img {
	max-width: 100%;
}

mark {
	background: lightpink;
}

article ol {
	padding: 0 0 0 2em;
	line-height: 1.5;
}

article ul {
	padding: 0 0 0 2em;
	line-height: 1.5;
}

sup {
	vertical-align: super;
}

sub {
	vertical-align: sub;
}

var {
	font-style: italic;
}

.question {
	color: steelblue;
}

.question:before {
	content: "――";
}

.tooltip {
	border-bottom: 1px dotted black;
	cursor: help;
}

/* table of contents */

nav {
	position: fixed;
	bottom: 0;
	background: rgba(255,255,255,0.9);
	color: palevioletred;
	padding: 0.5em;
	z-index: 2;
	max-height: 70%;
	max-width: 50%;
	overflow: auto;
}

nav:lang(ja) {
	border-radius: 0 0.5em 0 0;
	left: 0;
}

nav:lang(en) {
	border-radius: 0.5em 0 0 0;
	right: 0;
}

nav h2 {
	background: none;
	border: none;
	font-size: inherit;
	margin: 0;
}

nav:hover h2 {
	padding-bottom: 0.5em;
	border-bottom: 1px solid palevioletred;
}

nav ul {
	display: none;
	padding: 0;
}

nav:hover ul {
	display: block;
}

nav ul li {
	list-style: none;
}

nav a.toc__level--2 {
	font-size: 85%;
	margin-left: 0.75em;
}

nav a.toc__level--3 {
	font-size: 85%;
	margin-left: 1.5em;
}

/* paragraph numbering */

section {
	position: relative;
}

section a.p__number {
	display: block;
	position: absolute;
	color: darkseagreen;
	text-shadow: 0 0 1px rgba(255, 255, 150, 0.8); /* add faint shadow to improve text legibility */
}

section a.p__number:hover {
	color: palevioletred;
}

section:lang(ja) a.p__number {
	right: 0;
}

section:lang(en) a.p__number {
	left: 0;
}

section:lang(ja) p {
	margin-right: 1ch;
}

section:lang(en) p {
	margin-left: 1ch;
}

article ol {
	padding-left: 1ch;
}

article ul {
	padding-left: 1ch;
}

section p.p--target {
	background: rgba(255, 255, 150, 0.8);
}

/* viewport-sensitive */

@media(max-width: 840px) {
	body {
		font-size: 2vw;
	}
	
	header h1 a {
		height: 18vw;
	}
}

@media(max-width: 570px) {
	body {
		font-size: 0.7em;
	}
}